<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "LiveMap", suffix: " · Phoenix Framework" %>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="container is-fluid mb-5 pl-0 pr-0">
      <section class="hero is-link is-small">
        <nav role="navigation" class="navbar hero-body" aria-label="main navigation">
          <div class="navbar-brand">
            <h1 class="navbar-item title">
              <a href="/">LiveMap</a>
            </h1>
          </div>
          <div class="navbar-end">
            <%= render "_user_menu.html", assigns%>
          </div>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
